@import "../../assets/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  .logo {
    width: 100px;
    margin: 40px;
    img {
      width: 100%;
    }
  }
  .logo:hover {
    animation-name: logo-bounce-animation;
    animation-duration: 1s;
  }

  nav ul {
    display: flex;
    padding: 20px;
    margin: 4px;
    font-size: 16px;
    list-style-type: none;
    @media screen and (max-width: 780px) {
      padding: 10px;
    }
    li {
      margin: 0px 12px;
      text-align: center;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $text-color;
    }
    .header-link,
    .selected {
      padding: 12px;
      border-radius: 8px;
    }
    .selected {
      color: white;
      background-color: $theme-color;
    }
    .selected:hover,
    .header-link:hover {
      background-color: $theme-color-hover;
    }
  }
}
