@import "../../assets/variables.scss";

.loading-heading {
  @include headings;
}
.loading-market-news {
  padding: 50px 0px 50px 45vw;
  display: flex;
  max-width: 100%;
  @media screen and (max-width: 500px) {
    padding-left: 20vw;
  }
}
