@import "../../assets/variables.scss";

.search-form {
  display: flex;
  justify-content: center;

  .form-wrapper {
    display: flex;
    align-items: center;

    border: 1px solid lightgrey;
    border-radius: 32px;
    padding-left: 20px;
    padding-right: 8px;
    @media screen and (max-width: 500px) {
      padding-left: 12px;
    }
  }
  .search-input {
    height: 48px;
    width: 50vw;
    letter-spacing: 1px;
    border: none;
    font-size: 1em;
    @media screen and (max-width: 780px) {
      width: 70vw;
    }
    @media screen and (max-width: 500px) {
      font-size: 12px;
      width: 65vw;
    }
  }
  .logo-search {
    width: 40px;

    img {
      width: 100%;
    }
  }
}

.query-results-list {
  display: flex;
  justify-content: center;
  .results {
    width: 60vw;
    padding: 0px;
    @media screen and (max-width: 780px) {
      width: 70vw;
    }
    @media screen and (max-width: 500px) {
      font-size: 12px;
      width: 65vw;
    }
    .result-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid lightgrey;
      padding: 8px;
      .company-name {
        letter-spacing: 1px;
      }
      .company-symbol {
        color: darkgrey;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
    .result-item:hover {
      background-color: #e7e7e7;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
